@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #000;
  background-color: #d7d7d7;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.about {
  background: radial-gradient(circle, rgba(22, 21, 21, 5%), rgba(1, 1, 1, 16%));
  background-color: white;
}

.contact {
  background: radial-gradient(circle, rgba(22, 21, 21, 5%), rgba(1, 1, 1, 16%));
  background-color: white;
}

@layer utilities {
  .btn-white {
    @apply px-5 py-3 rounded-full font-semibold bg-white border-2 border-white  text-black duration-500 max-sm:px-3 max-sm:py-2 hover:bg-transparent hover:text-white hover:border-2 hover:border-white;
  }

  .head-trans {
    @apply h4 font-bold tracking-widest uppercase px-12 py-4 border-4;
  }

  .side-border {
    @apply border-r-[3px] border-l-[3px] px-7 py-[2px] uppercase font-semibold  hover:px-11 duration-300 ease-in-out;
  }

  .max-cp {
    @apply m-auto max-w-[1200px] px-6 md:px-8 lg:px-12 2xl:px-20 py-12 lg:py-16 2xl:py-24;
  }

  .max-c {
    @apply m-auto max-w-[1200px];
  }

  .p-x {
    @apply px-6 md:px-8 lg:px-12 2xl:px-20;
  }

  .p-y {
    @apply py-12 lg:py-16 2xl:py-24;
  }

  .p-t {
    @apply pt-12 lg:pt-16 2xl:pt-24;
  }

  .p-b {
    @apply pb-12 lg:pb-16 2xl:pb-24;
  }

  .h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl font-bold;
  }

  .h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl 2xl:text-5xl font-bold;
  }

  .h3 {
    @apply text-lg sm:text-xl lg:text-2xl 2xl:text-3xl;
  }

  .h4 {
    @apply text-base sm:text-lg lg:text-xl 2xl:text-2xl;
  }

  .p1 {
    @apply text-base md:text-lg;
  }

  .p2 {
    @apply text-sm md:text-base 2xl:text-lg;
  }

  .p3 {
    @apply text-sm xl:text-base;
  }

  .p4 {
    @apply text-xs xl:text-sm;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  .flexBetween {
    @apply flex justify-between items-center;
  }

  .flexStart {
    @apply flex justify-start items-start;
  }

  .flexEnd {
    @apply flex justify-end items-end;
  }

  .flexRowCol {
    @apply flex flex-col md:flex-row;
  }

  .flexCol {
    @apply flex flex-col;
  }

  .flexRow {
    @apply flex flex-row;
  }

  .flexCenterCol {
    @apply flex justify-center items-center flex-col;
  }

  .flexStartCol {
    @apply flex justify-center items-start flex-col;
  }

  .input {
    @apply border-b-4 border-l-4 p4 border-black px-3 py-2 bg-transparent text-primary-gray4 placeholder-gray-600 w-full max-w-lg p4 font-medium;
  }

  .navbar-hover {
    @apply before:w-full py-1 before:h-[1px] before:bg-white before:block before:scale-x-0 hover:before:scale-x-100 before:duration-300 before:origin-left after:w-full after:h-[1px] after:bg-white after:block after:scale-x-0 hover:after:scale-x-100 after:duration-300 after:origin-right;
  }
  .navbar-hover-center {
    @apply py-1 after:w-full after:h-[1px] after:bg-white after:block after:scale-x-0 hover:after:scale-x-100 after:duration-200;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
.fade-animation {
  animation: fade 5s ease-in-out infinite;
}

@keyframes fadePhone {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.8;
  }
}
.fade-animation-phone {
  animation: fadePhone 5s ease-in-out infinite;
}
